{{#if error}}
    <div>{{error}}</div>
{{/if}}
<div>
    <form action="/profile" method="POST">
    <input name="age" placeholder="Age" />
    <input name="city" placeholder="City" />
    <input name="homepage" placeholder="Homepage" />
</div>

    <div>

        <button>Submit</button>
    </div>

<div>
    <p class="profile-text">Time for a change</p>
</div>
</form>