<div class="sig-buttons">
    <form action="/logout" method="POST">
        <button class="remove-data">Logout</button>
    </form>
    <button class="edit"><a class="textdeco" href="/profile/edit">Edit your
            profile</a></button>
</div>

<div class="signature-list">
    <h1>Signatures from: {{city}}</h1>
    {{#each signatures}}
        <div>
            <p class="sig-list-city">
                {{first_name}}
                {{last_name}}

                ({{age}})</p>

        </div>
    {{/each}}

</div>